*,
*::before,
*::after {
  box-sizing: border-box;
}

// stylelint-disable

html {
  color: $base-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

@-ms-viewport {
  width: device-width;
}

// stylelint-enable

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

body {
  background: $base-background-color;
  margin: 0;
}
