/// Base background color
$base-background-color: #f4f6f8;

/// Base color
$base-color: rgba(74, 74, 74, 0.75);

/// Base font family
$base-font-family: Helvetica, Roboto, Arial, sans-serif;

/// Base font size
$base-font-size: 16px;

/// Base font weight
$base-font-weight: 400;

/// Base line height
$base-line-height: 1.5;
